<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 이름 ; 패키지명까지! -->
<mapper namespace="org.zerock.dao.ProductMapper">

	<insert id="create" parameterType="ProductVO">
		insert into tbl_product(pname, pmaker, pimg) values(#{pname}, #{pmaker}, #{pimg})
	</insert>

	<select id="read" resultType="ProductVO">
		select * from tbl_product where pno = #{pno}
	</select>
	
	<select id="list" resultType="ProductVO">
		select * from tbl_product
	</select>
	
	<update id="update" parameterType="ProductVO">
		update tbl_smem set userpw = #{userpw}  where userid = #{userid}
	</update>
	
	<delete id="delete" parameterType="ProductVO">
		delete from tbl_smem where userid = #{userid}
	</delete>
	

</mapper>